.home-container{
    width: 580px;
    height: 128px;
    left: 120px;
    top: 179px;
    margin-left: 120px;
    margin-top: 120px;
}

.home-title{
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
}

.home-body{
    margin-top: 25px;
    width: 580px;
    height: 216px;
    left: 120px;
    top: 331px;
}

.home-text-align{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;     
}

